* {
    font-family: 'Raleway', sans-serif;
}

/* MENU */

.navbar-default {
    background: transparent;
    height: 90px;
    padding: 20px 0 80px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}

ul.nav.navbar-nav.navbar-right li a {
    color: #262424;
    padding: 25px;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    color: #f7b617;
}

/* MENU MOBILE */

button.navbar-toggle {
    border: none;
}

#menu-responsivo {
    background-color: white;
}

/* HERO */

.section_hero {
    background-image: url(../img/taxi.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 94%;
    padding-right: 0;
}

.contain_hero {
    background: rgb(247, 182, 23);
    padding: 40px 40px 20px;
    margin: 100px 20px 20px 15px;
    width: 100%;
    color: white;
}

.contain_hero h1 {
    font-weight: bold;
    padding-bottom: 10px;
}

.contain_hero h2 {
    font-size: 1.7em;
    padding-bottom: 10px;
}

.contain_hero h2 img {
    padding-left: 10px;
    width: 100px;
    padding-bottom: 10px;
}

#line_hero {
    width: 100%;
    height: 1em;
    border-bottom: 1px solid white;
    text-align: center;
}

.contain_hero p {
    padding: 10px;
}

.contain_hero span {
    background-color: #f7b617;
    padding: 0 5em;
}

.contain_hero button {
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1.2em;
}

/* INFORMACIÓN */

.section_informacion {
    background: #F7B617;
}

.contain_informacion {
    border: 1px solid white;
    margin: 40px 40px 40px 0;
    padding: 30px;
    border-left: none;
}

.contain_informacion img {
  padding-left: 40px;
  width: 87%;
}

.info {
    color: white;
}

.info h1 {
    padding-bottom: 10px;
    font-weight: bold;
}

.info p {
    font-size: 1.7em;
    padding-right: 90px;
    padding-bottom: 10px;
}

/* CONDUCE */
.section_conduce {
    background-image: url("../img/conduce.jpg");
    background-size: cover;
    background-position: center;
}

.section_conduce > .row > div {
    padding-right: 0;
    padding-left: 0;
}

.contain_conduce {
    background: rgba(0, 0, 0, 0.5);
    padding: 6em 3em 12em 3em;
    color: white;
}

.contain_conduce button {
    background: #F7B617;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.contain_conduce h1 {
    font-size: 2.1em;
    font-weight: bold;
}

.contain_conduce p {
    font-size: 1.2em;
    padding-bottom: 3px;
}

/* TARIFAS */

.section_tarifas {
    background: #f7b617;
    padding: 40px;
    color: white;
}

#map {
    height: 500px;
    width: 100%;
    
}

.contain_map {
    border: 1px solid white;
    padding: 10px;
    color: black;
}

.contain_tarifas h1 {
    padding: 10px;
    font-weight: bold;
}

.contain_tarifas p {
    font-size: 1.3em;
    padding-bottom: 20px;
}

#origen, #destino {
    background: transparent;
    border: 1px solid white;
    padding: 8px;
    width: 60%;
    border-radius: 9px;
    margin-left: 20px;
}

#origen::placeholder, #destino::placeholder {
    color: white;
}

#ruta {
    font-weight: bold;
    color: black;
    padding: 10px;
    width: 30%;
    margin-left: 20%;
}

/* FOOTER */

footer {
    background: #2B2B2B;
    color: white;
}

footer h1 img {
    padding-top: 70px;
}

footer i {
    padding: 5px;
}

footer ul li {
    list-style: none;
    line-height: 3em;
}

footer .content-app-logos img {
    padding: 1em;
    width: 70%;
}

footer p {
    padding-bottom: 40px;
}

/* AUXILIAR */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row-bottom-align {
    align-items: flex-end;
}