* {
    font-family: 'Raleway', sans-serif;
}

/* MENU */

.navbar-default {
    background: transparent;
    height: 90px;
    padding: 20px 0 80px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}

ul.nav.navbar-nav.navbar-right li a {
    color: #262424;
    padding: 25px;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    color: #f7b617;
}

/* MENU */

.section_hero {
    background-image: url(../img/taxi.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 94%;
    padding-right: 0;
}

.contain_hero {
    background: rgb(247, 182, 23);
    padding: 10px 30px 30px;
    margin: 20px 0 20px 20px;
    width: 89%;
}

/* INFORMACIÓN */

.section_informacion {
    background: #F7B617;
}

/* CONDUCE */
.section_conduce {
    background-image: url("../img/conduce.jpg");
    background-size: cover;
    height: 400px;
    padding-right: 0;
    background-position: 0 40%;
}

.contain_conduce {
    background: rgba(0, 0, 0, 0.4);
    padding: 50px;
    margin: 20px 0 20px 20px;
    width: 89%;
    height: 100%;
    color: white;
}
