* {
    font-family: 'Raleway', sans-serif;
}

/* MENU */

.navbar-default {
    background: transparent;
    height: 90px;
    padding: 20px 0 80px;
    font-weight: bold;
    font-size: 1.2em;
    border: none;
}

ul.nav.navbar-nav.navbar-right li a {
    color: black;
    padding: 25px;
}

ul.nav.navbar-nav.navbar-right li a:hover {
    color: #f7b617;
}

/* MENU */

.section_hero {
    background-image: url(../img/taxi.jpg);
    height: 100vh;
    background-size: cover;
    background-position: 0 94%;
}